aiohttp==3.7.4.post0
appdirs==1.4.4
asgiref==3.3.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
defusedxml==0.7.1
Django==3.2
django-admin-actions==0.1.1
django-admin-numeric-filter==0.1.6
idna==2.10
isodate==0.6.0
lxml==4.6.3
multidict==5.1.0
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4
WooCommerce==3.0.0
yarl==1.6.3
zeep==4.0.0
